<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="#">Lien</a>
          </nav>
          <nav class="navbar navbar-light bg-light">
            <span class="navbar-brand mb-0 h1">Titre</span>
        </nav>
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                  <img src="..." class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="..." class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="..." class="d-block w-100" alt="...">
              </div>
            </div>
          </div>
        <div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>
        <br>
        {% for post in posts %}
            <div>
                <p>published: {{post.published_date}}</p>
                <h2><a href="">{{post.title}}</a></h2>
                <p>{{post.text|linebreaksbr}}</p>
                <br>
            </div>
        {% endfor %}
        <br>
    </body>
</html>